/*CSS VARIABLES */

:root {
  --Primary-clr: #00160a;
  --Secondary-clr: #64fcd9;
  --Background-white: #e5e5e5;
  --Font: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--Font);
  scroll-behavior: smooth;
}
